@import "./mixins_vars.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    width: 300px;
    height: 300px;

    overflow: hidden;
}

body {
    @include fs-percent;

    overflow: auto;

    #root {
        width: 100%;
        height: fit-content;

        @include centerCol;

        overflow-x: hidden;
        overflow-y: auto;

        background: $sc_main;

        border: 0.5em solid $sc_secondary;
        padding: 10px;

        #user_name {
            width: 100%;
            height: fit-content;
            flex-shrink: 0;

            text-align: center;

            border: $border;
        }

        #classes_cont {
            height: fit-content;
            width: auto;

            @include centerCol;
            flex-shrink: 0;
            gap: 5px;
            border: $border;

            font-size: x-large;
            padding: 5px;
        }

        .class_box {
            width: 100%;
            height: fit-content;

            @include centerCol;
            text-align: center;

            border: $border;

            &:hover {
                background: $hover;
                cursor: pointer;
            }
        }
    }
}
