@import "./mixins_vars.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
}

html {
    width: 300px;
    height: 400px;

    overflow: hidden;
}

body {
    @include fs-percent;

    overflow: auto;

    #root {
        width: 100%;
        min-height: 100%;

        @include centerCol;

        overflow-x: hidden;
        overflow-y: auto;

        background: $sc_main;

        border: 0.5em solid $sc_secondary;
        padding: 10px;

        #user_name {
            width: 100%;
            height: fit-content;
            flex-shrink: 0;
            margin-bottom: 10px;

            text-align: center;
        }

        #classes_cont {
            height: fit-content;
            width: auto;

            @include centerCol;
            flex-shrink: 0;
            gap: 5px;

            font-size: large;
            padding: 5px;
        }

        .class_box {
            width: 100%;
            height: fit-content;

            @include centerCol;
            text-align: center;

            border-radius: 1em;
            background: black;
            padding: 5px;

            &:hover {
                background: $hover;
                cursor: pointer;
            }
        }

        #progress_cont {
            width: fit-content;

            .progress_box {
                width: 100%;
                text-align: left;

                &:hover {
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    margin-right: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .label {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
